*{
    box-sizing: border-box;
}
body{
    background-color: #E9DED6;
}
.header {
background-color: #4E3629;
padding: 20px;
text-align: right;
position: sticky;
top: 0;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: flex-end;
}

#menu li {
margin-right: 20px;
}

#menu a {
color: #fff;
text-decoration: none;
transition: color 0.2s ease;
}

#menu a:hover {
color: #F5DEB3; /* light brownish color */
}

#menu a:active {
color: #F5DEB3;
}
.button-below{           
    text-align: center;
    font-family: Arial, sans-serif;
}
.button-below a {
    background-color: #af8464; 
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fbece0; 
    text-decoration: none; 
}

.button-below #btn11:hover {
    background-color: #81593c;
    transform: scale(1.05); 
}

.button-below #btn11:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(210, 105, 30, 0.3); 
}
h1 {
    color:#4E3629;
    margin-top: 50px;
    text-align: center;
}
.register-form {
    background-color: #f8efde;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
}
#textbox{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#register-button {
    width: 100%;
    padding: 10px;
    background-color: #4E3629;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.history-booking {
    background-color: #fdfaf5;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.history-booking h2 {
    color: #4E3629;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.history-booking p{
    font-size: 16px;
    color: #6b592c;
    line-height: 1.6;
}

#cancel-button {
    background-color: #9a775c; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    margin: 20px auto;
}

#cancel-button:hover {
    background-color: #af8464;
    transform: scale(1.05);
}

#cancel-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(210, 105, 30, 0.3);
}

#footer-line{
    margin-top: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.footer-column{
    flex: 1;
    margin: 20px;
    min-width: 200px;
}
#title-footer{
    margin-bottom: 15px;
    font-size: 17px;
    color: #6b592c;
}

.footer-column a{
    color: #A25F2B;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
    font-size: 15px;
}

.footer-column a:hover {
    color: #3B2F2F
}

#mail{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 80%
}
#footersentences{
    color: #A25F2B;
}

.sub-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #cda688; 
    color: black; 
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}